.contenedor-principal{
	padding-right: 8%; padding-left: 8%;
}

.inmuebles-unico{
	margin-bottom: 50px;
}

.div-inmueble{
	height: 550px;
}

.descripcion-texto{
	height: 120px;
	overflow: scroll;
	overflow-x: hidden;
}


.descripcion-texto::-webkit-scrollbar {
    -webkit-appearance: none;
}

.descripcion-texto::-webkit-scrollbar:vertical {
    width:10px;
}

.descripcion-texto::-webkit-scrollbar-button:increment,.descripcion-texto::-webkit-scrollbar-button {
    display: none;
} 

.descripcion-texto::-webkit-scrollbar:horizontal {
    height: 10px;
}

.descripcion-texto::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.descripcion-texto::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.encabezado-inmueble{
	width:100%; 
	height: 250px; 
	background-image: url('https://www.esan.edu.pe/conexion/actualidad/2019/11/07/1500x844_claves_inmuebles_tributarias.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover; 
	margin-bottom: 80px; 
}

.titulo-encabezado{
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,0.6);
}

.container-encabezado{
	text-align: center;
}

.container-encabezado p{
	margin-top: 150px; 
	color: white; 
	font-size: 50px;
}

nav > ul {
	display: flex;
	justify-content: center;
}

li {
	
}

.caracteristicas-inmueble{
	margin-top: 0px;
}

.caracteristicas-inmueble > .row{
	margin-top: 5px;
}

.caracteristica-unica{
	padding-bottom: 10px;
}

.encabezado-tecnica{
	background-color: #c92026; 
	color: white; 
	border-radius: 5px 5px 0px 0px; 
	padding-bottom: 5px; 
	padding-top: 5px; 
	text-align: center;
}

.imagen-asesor{
	text-align: left; 
	align-content: center; 
	padding-top: 10px; 
	padding-bottom: 10px;
}

.valores_tecnicos{
	padding-top: 5px;
}

.otras-caracteristicas{
	margin-bottom: 20px;
}

.encabezado-asesor{
	background-color: #c92026; 
	color: white; 
	border-radius: 5px 5px 0px 0px; 
	padding-bottom: 5px; 
	padding-top: 5px; 
	text-align: center;
}

.imagen-asesor img{
	border-radius: 50%; 
	width: 150px; 
	height: 170px;
}

.comunicaciones{
	text-align: center;
}

.comunicaciones i{
	font-size: 30px;
}


.contenedor-whatsapp{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99999999;
}


.contenedor-whatsapp img{
	width: 60px;
}

.label-whatsapp{
    margin-top: 15px;
	background-color: #f5f7f9;
    font-size: 12px;
    color: #43474e;
    padding: 7px 0 7px 12px;
    margin-right: 7px;
    letter-spacing: -0.03em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
}

/* ESTILOS RESPONSIVE */





@media screen and (min-width:240px) and (max-width: 321px) {
	
	.camp_busqueda {
		margin-left: 20px;
		margin-right: 50px;

	}

	.inmuebles-unico{
		margin-bottom: 50px;
	}

	#div-busqueda-avanzada{
		overflow: scroll !important;
	}

	.encabezado-inmueble{
		width:340px; 
		height: 250px; 
		background-image: url('https://www.esan.edu.pe/conexion/actualidad/2019/11/07/1500x844_claves_inmuebles_tributarias.jpg'); 
		background-repeat: no-repeat; 
		background-size: cover; 
		margin-bottom: 80px; 
	}

	.titulo-encabezado{
		width: 100%; 
		height: 100%; 
		background-color: rgba(0,0,0,0.6);
	}

	.container-encabezado{
		text-align: center;
	}

	.container-encabezado p{
		line-height: 22px;
		margin-left: 10px;
		margin-top: 170px; 
		color: white; 
		font-size: 30px;
	}

	nav > ul {
		display: flex;
		justify-content: center;
	}

	li {
		margin: 0 .75rem;
	}

	.caracteristicas-inmueble{
		margin-top: 50px;
	}

	.caracteristicas-inmueble > .row{
		margin-top: 5px;
	}

	.caracteristica-unica{
		padding-bottom: 10px;
	}

	.encabezado-tecnica{
		background-color: #c92026; 
		color: white; 
		border-radius: 5px 5px 0px 0px; 
		padding-bottom: 5px; 
		padding-top: 5px; 
		text-align: center;
	}

	.imagen-asesor{
		text-align: left; 
		align-content: center; 
		padding-top: 10px; 
		padding-bottom: 10px;
	}

	.valores_tecnicos{
		padding-top: 5px;
	}

	.otras-caracteristicas{
		margin-bottom: 20px;
	}

	.encabezado-asesor{
		background-color: #c92026; 
		color: white; 
		border-radius: 5px 5px 0px 0px; 
		padding-bottom: 5px; 
		padding-top: 5px; 
		text-align: center;
	}

	.imagen-asesor img{
		border-radius: 50%; 
		width: 150px; 
		height: 170px;
	}

	.comunicaciones{
		text-align: center;
	}

	.comunicaciones i{
		font-size: 30px;
	}

	.row-inmueble-detalle{
		width: 325px;
	}

	.titulo-similares{
		margin-top: 50px;
	}
}


/* ============================================================================================================== */


@media screen and (min-width:324px) and (max-width: 376px) {

	.camp_busqueda {
		margin-left: 20px;
		margin-right: 50px;

	}

	.inmuebles-unico{
		margin-bottom: 50px;
	}

	#div-busqueda-avanzada{
		overflow: scroll !important;
	}

	.encabezado-inmueble{
		width:400px; 
		height: 250px; 
		background-image: url('https://www.esan.edu.pe/conexion/actualidad/2019/11/07/1500x844_claves_inmuebles_tributarias.jpg'); 
		background-repeat: no-repeat; 
		background-size: cover; 
		margin-bottom: 80px; 
	}

	.titulo-encabezado{
		width: 100%; 
		height: 100%; 
		background-color: rgba(0,0,0,0.6);
	}

	.container-encabezado{
		text-align: center;
	}

	.container-encabezado p{
		line-height: 22px;
		margin-left: 10px;
		margin-top: 170px; 
		color: white; 
		font-size: 30px;
	}

	nav > ul {
		display: flex;
		justify-content: center;
	}

	li {
		margin: 0 .75rem;
	}

	.caracteristicas-inmueble{
		margin-top: 50px;
	}

	.caracteristicas-inmueble > .row{
		margin-top: 5px;
	}

	.caracteristica-unica{
		padding-bottom: 10px;
	}

	.encabezado-tecnica{
		background-color: #c92026; 
		color: white; 
		border-radius: 5px 5px 0px 0px; 
		padding-bottom: 5px; 
		padding-top: 5px; 
		text-align: center;
	}

	.imagen-asesor{
		text-align: left; 
		align-content: center; 
		padding-top: 10px; 
		padding-bottom: 10px;
	}

	.valores_tecnicos{
		padding-top: 5px;
	}

	.otras-caracteristicas{
		margin-bottom: 20px;
	}

	.encabezado-asesor{
		background-color: #c92026; 
		color: white; 
		border-radius: 5px 5px 0px 0px; 
		padding-bottom: 5px; 
		padding-top: 5px; 
		text-align: center;
	}

	.imagen-asesor img{
		border-radius: 50%; 
		width: 150px; 
		height: 170px;
	}

	.comunicaciones{
		text-align: center;
	}

	.comunicaciones i{
		font-size: 30px;
	}

	.row-inmueble-detalle{
		width: 375px;
	}

	.titulo-similares{
		margin-top: 50px;
	}
}


/* ========================================================================================================*/


@media screen and (min-width:380px) and (max-width: 426px) {
	.camp_busqueda {
		margin-left: 20px;
		margin-right: 50px;

	}

	.inmuebles-unico{
		margin-bottom: 50px;
	}

	#div-busqueda-avanzada{
		overflow: scroll !important;
	}

	.encabezado-inmueble{
		width:450px; 
		height: 250px; 
		background-image: url('https://www.esan.edu.pe/conexion/actualidad/2019/11/07/1500x844_claves_inmuebles_tributarias.jpg'); 
		background-repeat: no-repeat; 
		background-size: cover; 
		margin-bottom: 80px; 
	}

	.titulo-encabezado{
		width: 100%; 
		height: 100%; 
		background-color: rgba(0,0,0,0.6);
	}

	.container-encabezado{
		text-align: center;
	}

	.container-encabezado p{
		line-height: 22px;
		margin-left: 10px;
		margin-top: 170px; 
		color: white; 
		font-size: 30px;
	}

	nav > ul {
		display: flex;
		justify-content: center;
	}

	li {
		margin: 0 .75rem;
	}

	.caracteristicas-inmueble{
		margin-top: 50px;
	}

	.caracteristicas-inmueble > .row{
		margin-top: 5px;
	}

	.caracteristica-unica{
		padding-bottom: 10px;
	}

	.encabezado-tecnica{
		background-color: #c92026; 
		color: white; 
		border-radius: 5px 5px 0px 0px; 
		padding-bottom: 5px; 
		padding-top: 5px; 
		text-align: center;
	}

	.imagen-asesor{
		text-align: left; 
		align-content: center; 
		padding-top: 10px; 
		padding-bottom: 10px;
	}

	.valores_tecnicos{
		padding-top: 5px;
	}

	.otras-caracteristicas{
		margin-bottom: 20px;
	}

	.encabezado-asesor{
		background-color: #c92026; 
		color: white; 
		border-radius: 5px 5px 0px 0px; 
		padding-bottom: 5px; 
		padding-top: 5px; 
		text-align: center;
	}

	.imagen-asesor img{
		border-radius: 50%; 
		width: 150px; 
		height: 170px;
	}

	.comunicaciones{
		text-align: center;
	}

	.comunicaciones i{
		font-size: 30px;
	}

	.row-inmueble-detalle{
		width: 420px;
	}

	.titulo-similares{
		margin-top: 50px;
	}
}


/*********************************************** */

@media screen and (min-width:426px) and (max-width: 769px) {
	.camp_busqueda {
		margin-left: 20px;
		margin-right: 50px;

	}

	.inmuebles-unico{
		margin-bottom: 50px;
	}

	#div-busqueda-avanzada{
		overflow: scroll !important;
	}

	.encabezado-inmueble{
		width:450px; 
		height: 250px; 
		background-image: url('https://www.esan.edu.pe/conexion/actualidad/2019/11/07/1500x844_claves_inmuebles_tributarias.jpg'); 
		background-repeat: no-repeat; 
		background-size: cover; 
		margin-bottom: 80px; 
	}

	.titulo-encabezado{
		width: 100%; 
		height: 100%; 
		background-color: rgba(0,0,0,0.6);
	}

	.container-encabezado{
		text-align: center;
	}

	.container-encabezado p{
		line-height: 22px;
		margin-left: 10px;
		margin-top: 170px; 
		color: white; 
		font-size: 30px;
	}

	nav > ul {
		display: flex;
		justify-content: center;
	}

	li {
		margin: 0 .75rem;
	}

	.caracteristicas-inmueble{
		margin-top: 50px;
	}

	.caracteristicas-inmueble > .row{
		margin-top: 5px;
	}

	.caracteristica-unica{
		padding-bottom: 10px;
	}

	.encabezado-tecnica{
		background-color: #c92026; 
		color: white; 
		border-radius: 5px 5px 0px 0px; 
		padding-bottom: 5px; 
		padding-top: 5px; 
		text-align: center;
	}

	.imagen-asesor{
		text-align: left; 
		align-content: center; 
		padding-top: 10px; 
		padding-bottom: 10px;
	}

	.valores_tecnicos{
		padding-top: 5px;
	}

	.otras-caracteristicas{
		margin-bottom: 20px;
	}

	.encabezado-asesor{
		background-color: #c92026; 
		color: white; 
		border-radius: 5px 5px 0px 0px; 
		padding-bottom: 5px; 
		padding-top: 5px; 
		text-align: center;
	}

	.imagen-asesor img{
		border-radius: 50%; 
		width: 150px; 
		height: 170px;
	}

	.comunicaciones{
		text-align: center;
	}

	.comunicaciones i{
		font-size: 30px;
	}

	.row-inmueble-detalle{
		width: 420px;
	}

	.titulo-similares{
		margin-top: 50px;
	}
}


@media screen and (min-width:770px) and (max-width: 1024px){

}


@media screen and (min-width:1025px) and  (max-width: 1440px){
    
}


@media screen and (min-width:1441px) and (max-width: 2561px){
    
}
